@font-face {
  font-family: 'Typo Pixel';
  src: url('typoPixel.ttf'), format('truetype');
}

@font-face {
font-family: 'Press Start 2P';
src: url('PressStart2P-Regular.ttf'), format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  background-color: rgb(10, 2, 33);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  padding: 20px; /* Add padding to create gaps on the sides */
  box-sizing: border-box;
}

.icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between children */
  width: 100%;
  background-color: rgb(10, 2, 33);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-links {
    display: flex; 
    align-items: center; /* Align items vertically centered */
    gap: 40px; /* Adjust gap between links */
    margin-right: 50px;
  }
  
  .nav-links a {
    font-weight: bold;
    text-align: right;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px; /* Make the links smaller */
    font-family: 'Press Start 2P';
  }

  .nav-links a:hover {
    color: #ffdd33;
  }

  .title {
    font-size: 30px;
    color: whitesmoke;
    font-family: 'Typo Pixel';
    margin-left: 30px; 
    flex-grow: 2;
    text-shadow: 2px 2px 5px rgb(0, 64, 255); 
    text-decoration: none;
  }
  
  .title p {
    color: #ffdd33;
    font-size: 25px;
    text-shadow: 2px 2px #333;
    margin-bottom: 5px;
    font-family: 'Press Start 2P';
  }
  
  .title h1 {
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: 'Typo Pixel';
    text-align: center;
  }

  /* dashboard shitz */
.dashboard-section {
    margin-top: 20px;
    color: #ffdd33;
    font-family: "Press Start 2P";
    padding: 10px;
    width: 100%;
    max-width: 1500px;
    font-size: 20px;
    text-align: left;
  }
  
  .dashboard-section h2 {
    margin-left: 100px; /* Align the heading with the course cards */
  }

  .progress-card {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: rgb(19, 25, 56);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 100px;
    height: 350px;
    margin-right: 100px;
    text-align: left;
    border: 3px solid  #232465;
    font-size: 0.75em;  
    position: relative;
  }

  .progress-level {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: rgb(19, 25, 56);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 100px;
    height: 200px;
    width: 25%;
    margin-right: 100px;
    text-align: left;
    border: 3px solid  #232465;
    font-size: 0.75em;  
    position: relative;
  }

  .progress-level p {
    color: whitesmoke;
  }

  .progress-card img {
    width: 1215px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .progress-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 30px;
    background-color: rgb(19, 25, 56);
    position: absolute;
    margin-top: auto;
    box-sizing: border-box;
    transform: translateY(109px);
  }

  .progress-container {
    display: flex;
    flex-direction: row; /* Arrange children in a row */
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
    justify-content: space-between; /* Distribute space between items */
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-left: 50px;
    color: whitesmoke;
  }

  .group-name {
    margin-top: 50px;
    font-size: 20px;
  }

  .group-handle {
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .profile-btn {
    display: inline-block;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-size: 12px;
    color: black;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 200px;
    height: 50px;
    background-image: url('flat-rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid black;
    text-align: center;
    box-shadow: 0px 0px 8px #190395;
  }

  .progress-text {
    font-size: 20px;
    flex-grow: 2;
    text-shadow: 2px 2px 5px rgb(0, 64, 255); 
    color: #ffdd33;
    font-family: 'Press Start 2P';
  }

  .character {
    background-image: url('transparent-preview.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin-left: 130px;
  }

  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #3c3d86;
    background-image: url('me.png');
    background-position: center;
    background-size: cover;
    margin-left: 10px;
  }

  .profile-pic-large {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #232465;
    background-image: url('me.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 110px;
    right: 970px;
    transform: translateX(-50%);
    z-index: 5;
  }

  hr {
    border: 2px solid #232465;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }