/* Main Style */
body {
  font-family: 'Press Start 2P', cursive; /* Default pixelated font */
  background-color: #0f0f23;
  color: white;
  margin: 0;
  padding: 0;
}

.icon-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  color: yellow;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.hero {
  text-align: center;
  padding: 20px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  background-color: #1a1a40;
  padding: 20px;
  border: 3px solid yellow;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.answer-btn {
  background-color: #333;
  color: yellow;
  font-size: 18px;
  border: 2px solid #666;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.answer-btn:hover {
  background-color: yellow;
  color: black;
}

.next-btn {
  background-color: yellow;
  color: black;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #333;
  color: yellow;
}

.progress-wrapper {
  background-color: #222;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.progress-bar {
  background-color: #555;
  height: 10px;
  width: 100%;
  position: relative;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: yellow;
  width: 0;
}

